body {
    font-family: Roboto, sans-serif;
    padding: 1% 10%;
    background-color: rgb(249, 225, 225);
    color: #242624;
}

h1 {
    text-align: center;
}

#upcoming {
    margin-bottom: 50px;
}